.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 640px;
  height: 640px;
  background-color: darkgreen;
}

.cell {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: solid;
  border-color: black;
}

.stone {
  width: 56px;
  height: 56px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
}
